@model IEnumerable<Turnos.Models.Especialidad>

        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                </tr>
            </thead>
            <tbody>
                @* Esto es un comentario de prueba. Aca va ir el resultado de la base de datos*@
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                    </tr>    
                }
                
            </tbody>
        </table>
 